

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

html, body {
    font-size: 16px;
}


#header {
    background-color: rgb(29, 22, 22);
    color: rgb(190, 182, 182);
    text-align: center;
    padding: 10px;
    font-size: 30px;

    
}

#home {
    background-color: rgb(29, 22, 22);
    color: rgb(190, 182, 182);
    margin-right: 10px;
    font-size: 15px
    
}

#Bikes {
    background-color: rgb(29, 22, 22);
    color: rgb(190, 182, 182);
    margin-right: 10px;
    font-size: 15px

}

#Accessories{
    background-color: rgb(29, 22, 22);
    color: rgb(190, 182, 182);
    margin-right: 10px;
    font-size: 15px
}

#Contact {
    background-color: rgb(29, 22, 22);
    color: rgb(190, 182, 182);
    margin-right: 10px;
    font-size: 15px
}


#rullande{
    font-size: 15px;
    text-align: center;
}




#footer {
    background-color: rgb(29, 22, 22);
    color: rgb(190, 182, 182);
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}


footer span {
    color: rgb(103, 93, 93)
}


.image {
    height: 300px;
    width:  20%px;
    font-display: block;
    margin-left: 0px;
}


