

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

html, body {
    font-size: 16px;
}



#Rubrik {
    background-color: rgb(29, 22, 22);
    color: rgb(190, 182, 182);

    padding: 20px;
    text-align: center;


}


footer span {
    color: rgb(103, 93, 93)
}


.image {
    height: 1000px;
    width:  100%;
    font-display: block;
}

#select {
    text-align: center;

}

h4 {
    color: rgb(201, 68, 68);
    font-size: 0.9rem;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.about-company {
    margin-top: 20px;
    margin-left: 15px;
}


